# Lab | Data Structuring and Combining Data

For Challenge 1, you can either use data which has already been cleaned (option 1) or clean it yourself (option 2).

## Challenge 1: Combining Data (Option 1)

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

## Challenge 1: Combining & Cleaning Data (Option 2)

If in the previous lab you created your cleaning and formatting function, or if you want to do it now, instead of using the two clean files provided above, you can use your function to clean and format the data in these two raw files below:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [ ]:
# Going for the Option 1, using data that is already clean
import pandas as pd

#using my file from previous lab:

df = pd.read_csv("/content/cleaned_data_lab_02.csv")
df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,other,Master,7.936903e+05,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6.979536e+05,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7.645862e+05,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5.363077e+05,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,3.059550e+05,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,California,F,High School or Below,2.031500e+06,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,3.239125e+05,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,4.626801e+05,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,8.997040e+05,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [ ]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv'

df1 = pd.read_csv(url)
df1.head(3)

In [ ]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv'

df2 = pd.read_csv(url)
df2.head(3)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247

In [ ]:
# Let's clean the house! "customer_data", here we goooooooooooooooooooooo!
# My approach, I rather clean df1 and df2 as df, the one I cleaned previously.
df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [ ]:
df1.rename(columns= {'ST': 'state'}, inplace=True)
df1.columns

Index(['Customer', 'state', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [ ]:
# naming columns both for df1 and df2
new_columns1 = []
for name in df1.columns:
    name = name.lower().replace(' ', '_')
    new_columns1.append(name)

# Assign the updated column names to the DataFrame
df1.columns = (new_columns1)
df1.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [ ]:
df2.rename(columns= {'st': 'state'}, inplace=True)
df2.columns

new_columns2 = []
for name in df2.columns:
    name = name.lower().replace(' ', '_')
    new_columns2.append(name)

# Assign the updated column names to the DataFrame
df2.columns = (new_columns2)
df2.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [ ]:
print("Naming columns - done \n")
print(df.columns)
print(df1.columns)
print(df2.columns)

In [ ]:
print("Going to use df.shape as a reference \n")
print("df.shape:", df.shape)
print("df1.shape:", df1.shape)
print("df2.shape:", df2.shape)

In [ ]:
# My approach, now the 'gender' column
df["gender"].unique()

array(['other', 'F', 'M'], dtype=object)

In [ ]:
print(df1["gender"].unique())

[nan 'F' 'M' 'Femal' 'Male' 'female']

In [ ]:
df1['gender'] = df1['gender'].replace(['female', 'Femal'], 'F', regex=True)
df1['gender'] = df1['gender'].replace(['Male'], 'M', regex=True)
print("df1 'gender' standardized:")
df1["gender"].value_counts()

df1 'gender' standardized:

F    4607
M    4408
Name: gender, dtype: int64

In [ ]:
df2['gender'] = df2['gender'].replace(['female', 'Femal'], 'F', regex=True)
df2['gender'] = df2['gender'].replace(['Male'], 'M', regex=True)
print("df2 'gender' standardized:")
df2["gender"].value_counts()

df2 'gender' standardized:

F    4607
M    4408
Name: gender, dtype: int64

In [ ]:
# My approach, now the 'state' column, using df as a reference
df["state"].value_counts()

In [ ]:
state1_name = {"AZ": "Arizona",
              "Cali": "California",
              "WA": "Washington" }

df1['state'].replace(state1_name, inplace=True)
print("States on df1 - full name replaced:")
df1["state"].value_counts()

In [ ]:
state2_name = {"AZ": "Arizona",
              "Cali": "California",
              "WA": "Washington" }

df2['state'].replace(state2_name, inplace=True)
print("States on df2 - full name replaced:")
df2["state"].value_counts()

In [ ]:
# My approach, now the 'education' column, using df as a reference
df["education"].value_counts()

In [ ]:
education1_name = {"Bachelors":"Bachelor"}
df1['education'].replace(education1_name, inplace=True)
print("Bachelor's degree in df1 now corrected:")
df1["education"].value_counts()

In [ ]:
education2_name = {"Bachelors":"Bachelor"}
df2['education'].replace(education2_name, inplace=True)
print("Bachelor's degree in df2 now corrected:")
df2["education"].value_counts()

In [ ]:
# My approach on the replace method for % to turn into nothing()
df["customer_lifetime_value"]

In [ ]:
df1["customer_lifetime_value"] = df1["customer_lifetime_value"].str.replace("%", "")
df2["customer_lifetime_value"] = df2["customer_lifetime_value"].str.replace("%", "")

In [ ]:
# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" will be replaced by "Luxury", just like on df

car1_name = {"Sports Car": "Luxury",
            "Luxury SUV": "Luxury",
            "Luxury Car": "Luxury"}

df1["vehicle_class"].replace(car1_name, inplace=True)

In [ ]:
car2_name = {"Sports Car": "Luxury",
            "Luxury SUV": "Luxury",
            "Luxury Car": "Luxury"}

df2["vehicle_class"].replace(car2_name, inplace=True)

In [ ]:
print("Car class on df1 is updated:")
print(df1["vehicle_class"].value_counts())
print("\nCar class on df2 is updated:")
print(df2["vehicle_class"].value_counts())

In [ ]:
#### Sad trombone for the number of complaints

In [ ]:
### Dealing with the null values

df1.dropna(subset = ["customer"], inplace=True)
df2.dropna(subset = ["customer"], inplace=True)

print(f"The current shape of our dataframe is {df.shape}")
print(f"The current shape of our dataframe is {df1.shape}")
print(f"The current shape of our dataframe is {df2.shape}")

In [ ]:
x = 9137 - 1071
x
print("hmmm", x,"rows! That's a lot of data!!")
print("Let's look at a trailler...")

hmmm 8066 rows! That's a lot of data!!
Let's look at a trailler...

In [ ]:
df1.isnull().any()
df1["gender"].isnull().sum()

In [ ]:
df2.isnull().any()
df2["gender"].isnull().sum()

In [ ]:
# Taking null from 'gender' on df1 and df2

df1["gender"].fillna("other", inplace=True)
df2["gender"].fillna("other", inplace=True)

print("'Gender' column in df1 updated")
print(df1["gender"].value_counts())
print("\n'Gender' column in df2 updated")
print(df2["gender"].value_counts())

In [ ]:
# let's turn this babies into numeric, so i can assign the mean to the null values
df1["customer_lifetime_value"] = pd.to_numeric(df1["customer_lifetime_value"], errors="coerce") # Google in da house
df2["customer_lifetime_value"] = pd.to_numeric(df2["customer_lifetime_value"], errors="coerce") # Google in da house

In [ ]:
# Taking null from '"customer_lifetime_value"' on df1 and df2
clv1_mean = (df1["customer_lifetime_value"].mean())
print("Mean is", (clv1_mean))

clv2_mean = (df2["customer_lifetime_value"].mean())
print("Mean is", (clv2_mean))

In [ ]:
df1["customer_lifetime_value"].fillna(clv1_mean, inplace=True)
print(df1.isnull().sum(),"\n" )

df2["customer_lifetime_value"].fillna(clv2_mean, inplace=True)
print(df2.isnull().sum())

In [ ]:
#### NO nulls !!! YEAH...so, let's check for duplicates!!!!

In [ ]:
#Dropping all duplicate rows
df1.drop_duplicates(inplace=True)
df2.drop_duplicates(inplace=True)

In [ ]:
df.duplicated().sum() # SnoopDog Dancing
df1.duplicated().sum()
df2.duplicated().sum()
# Drop it like it's hot

0

In [ ]:
# suspense drums for "customer_data"

In [ ]:
customer_data = pd.concat((df1, df2, df), axis = 0 ) ##### ROW WISE
customer_data.shape

(19339, 11)

In [ ]:
# Le'ts take out duplicates an reset index
# Dropping all duplicate rows
customer_data.drop_duplicates(inplace=True)
customer_data.shape

(9137, 11)

In [ ]:
# Checking this on ChatGPT

customer_data.to_csv('customer_data_cleaned_Lab_03.csv', index=False)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [ ]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"

df3 = pd.read_csv(url)
df3.head()

#df3.columns

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [ ]:
df3.isnull().sum() # a cleaned table <3
df.duplicated().sum() # a cleaned table <3

0

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [ ]:
df3["sales_channel"].describe()

In [ ]:
df3["sales_channel"].unique

In [ ]:
df3["sales_channel"].value_counts()

In [ ]:
# CLV represents the total net profit a company can expect to generate from a customer throughout their entire relationship.
# So if customers that will generate more money are reached by the agents, you can tell to the marketing department that in terms of total revenue,
# agents are top marketing tool.

channel_pivot = df3.pivot_table(index="sales_channel", values= "customer_lifetime_value", aggfunc = "sum").reset_index()

channel_pivot.round(2)

  sales_channel  customer_lifetime_value
0         Agent              33057887.85
1        Branch              24359201.21
2   Call Center              17364288.37
3           Web              12697632.90

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [ ]:
# I think i need to group the data first:
pivot1 = customer_data.groupby(["gender", "education"])['customer_lifetime_value'].mean()
pivot1

In [ ]:
# Then reset the index
pivot1 = customer_data.groupby(["gender", "education"])["customer_lifetime_value"].mean().reset_index()
pivot1

In [ ]:
# And now convert it to a pivot table
pivot_table1 = pd.pivot_table(pivot1, values = "customer_lifetime_value", index="gender", columns="education")
rounded_pivot_table1 = pivot_table1.round(2) # --- > thank you, chat GPT
rounded_pivot_table1

In [ ]:
###  Customer lifetime value per gender and education level

# Women who have higher education level, seem to be the ones who will generate more money to the company.
# On the other hand, man with bachelor degree will represent less profit.

# because insurance companies make more money, actually based on risk/risk of accidents, and if women have a higher number of events, you will probably find more
# expensive cars and insurance policies in this group. Maybe that's way they generate more money (???) :D

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here